.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    height: 3.5em;
    width: 35em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    
}

#searchbar  {
    border-radius: 0.25em;
    border: 0px;
    background-color:  rgba(255, 255, 255, 1);
    color: rgb(34, 34, 34);
    height: 2em;
    width: 20em;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

#searchbar::-webkit-search-cancel-button{
    position:relative;
    right: 0.5em;  
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 0.05em;
    background-image: url('./times-circle-solid.svg');
}

.submit {
    border-radius: 0.25em;
    border: 0px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(34, 34, 34);
    height: 3.6em;
    width: 3.6em;
    box-sizing: border-box;
    cursor: pointer;
}

#searchbar:focus {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.95);
    color: rgb(34, 34, 34);
    outline: none;
}

.type-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25em;
}

.type-btn {
    background: none;
    color: white;
    font-weight: 500;
    font-size: 2em;
    border: none;
    cursor: pointer;
    display: block;
}

.active-btn {
    border: white 3px solid;
    border-radius: 2em;
}

.search-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: white;
    font-size: 2em;
    letter-spacing: .05em;
    width: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.daBox {
    float: right;
}