.list-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 3em 0 3em 0;
    box-sizing: border-box;
}

.list-title {
    color: white;
    font-size: 2.5em;
}

.list-header {
    width: 40em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.clearBtn, .exportBtn {
    background: none;
    color: white;
    width: 8em;
    height: 3em;
    font-weight: 800;
    font-size: 0.9em;
    cursor: pointer;
    border: 0.35em solid white;
    border-radius: 0.25em;
}